= form_for @workshop, html: {class: "form-workshop center",role:'form'} do |f|
  - if @workshop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop.errors.count, "error")} prohibited this workshop from being saved:"
      %ul
        - @workshop.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name,  :class => 'form-control' ,:placeholder => "Nombre del curso, taller o plática" 
  .form-group
    = f.label :description
    = f.text_area :description, :class => 'form-control', :rows=>4
  .row
    .form-group.col-md-6
      = f.label :min_number_participants
      = f.text_field :min_number_participants, :class => 'form-control', :type => "number"
    .form-group.col-md-6
      = f.label :max_number_participants
      = f.text_field :max_number_participants, :class => 'form-control', :type => "number"
  .row
    .form-group.col-md-5
      = f.label :length
      .input-group
        = f.text_field :length,  :class => 'form-control', :type => "number"
        %span.input-group-addon horas
    .form-group.col-md-5
      = f.label :price
      .input-group
        %span.input-group-addon $
        = f.text_field :price,  :class => 'form-control', :type => "money"
        %span.input-group-addon 
          = t('views.legends.workshop.price_per_student',:default => 'per student')
    .form-group.col-md-2
      = f.label :free
      = f.check_box :free, :class => 'checkbox'
  .form-group
    = f.label :target_public
    = f.text_field :target_public, :class=>'form-control'
  .form-group
    = f.label :previous_skills
    = f.text_field :previous_skills, :class => 'form-control'
  .form-group
    = f.label :agenda
    = f.text_area :agenda, :class => 'form-control', :rows=>4
  .form-group
    %label{:for => "establecimiento"} Establecimiento
    .input-group
      - venue=( @workshop.venue.name + ' - ' + @workshop.reservation.starts_at.to_s )if !@workshop.venue.nil?
      %input.form-control#establecimiento{:placeholder => "Buscar establecimiento", :readonly => "readonly", :value => venue }
      /%input{:type=>"hidden"}
      = f.fields_for :reservation do |builder| 
        = builder.hidden_field :id
      %span.input-group-btn
        %button.btn_find_venue.btn.btn-default{:type => "button", 'data-toggle'=>'modal', 'data-target'=>'.dlg_find_venue'}
          %span.glyphicon.glyphicon-search
            
  .actions 
    = f.submit t('views.actions.propose',default: 'Propose'), :class => 'btn btn-primary btn-lg btn-block'


.dlg_find_venue.modal.fade{:role=>'dialog', :tabindex=>'-1', 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>'button', 'data-dismiss'=>'modal'}
          &times;
          %span.sr-only{'aria-hidden'=>'true'}
            Close
        %h4 
          Find venue 
      .modal-body
      
        .search-controls
          =form_tag('/reservations.json', remote: true, method: "get", id: 'workshops-_form-frmSearchReservations', role: 'form') do
            .form-group
              = date_field_tag 'starts_at', Time.zone.today
            %button#btn_find_reservations.btn.btn-default{:type => "submit"} Search
            / %span.glyphicon.glyphicon-search           
        .search-results
          %table.table.table-hover.table-responsive#tblReservationsResults
            %thead
              %th
              %th 
                =Venue.model_name.human
              %th 
                =Reservation.human_attribute_name(:starts_at)
              %th Address
            %tbody
      
      .modal-footer
        %button.btn.btn-default{:type=>'button', 'data-dismiss'=>'modal'}
          Close
        %button.btn.btn-primary{:tyṕe=>'button', 'data-dismiss'=>'modal'}
          Accept


