
.container
  .page-header.text-center
    %h3 Búsqueda de talleres

  %ul.list-group
  %h1
  - if @workshops.none?
    .jumbotron.text-center
      %h3
        =t('views.legends.search.no_results',default: 'There is not results for your search')
      %h5
        No te preocupes, deja tus datos y te avisaremos cuando tengamos el curso que buscas
      %form.form-inline
        .row          
          %form.form-inline
            .form-group
              .input-group
                .input-group-addon
                  %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
                %input.form-control{:placeholder => "Nombre", :type => "text", :required => "true"}
            .form-group
              .input-group
                .input-group-addon
                  %span.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
                %input.form-control{:placeholder => "Email", :type => "email", :required => "true"}
            .form-group
              .input-group
                .input-group-addon
                  %span.glyphicon.glyphicon-book{"aria-hidden" => "true"}
                %input.form-control{:placeholder => "Curso", :type => "text", :required => "true", :readonly => "true", :value => "#{params[:w]}"}
            %button.btn.btn-default.btn-primary{:type => "submit"} ¡Avisenme!  
  - @workshops.each do |workshop|
    
    /.panel.panel-default
    /  .panel-body
    %li.list-group-item
      .test
        .row
          .col-md-12
            %h2
              = link_to workshop.name, workshop, class: 'color:white'
              %small
                = workshop.small_description 100    
        .row
          .col-md-5
            %blockquote
              %h4
                - unless workshop.expert.avatar_url.nil?
                  %img.pull-left.featurette-image.img-responsive.img-circle{:width=>'45px', :alt => "Profile", :src => workshop.expert.avatar.icon.url}
                  &nbsp;
              
                = link_to workshop.expert.full_name , workshop.expert
              %h5
                = workshop.expert.occupation
          .col-md-7
            - unless workshop.reservation.nil?
              - venue=workshop.venue
              
              %blockquote
                %h4
                  - unless venue.avatar_url.nil?
                    %img.pull-left.featurette-image.img-responsive.img-circle{:width=>'45px', :alt => "Profile", :src => venue.avatar.icon.url}
                    &nbsp;
                  = link_to venue.name, venue                  
                %h5
                  %span.badge
                    = workshop.reservation.fmt_duration unless workshop.reservation.nil?
                
                %h4
                  %span.small
                    =venue.address  
          
              
          
    /%tr
    /%td= link_to workshop.name, workshop
    /%td= (link_to venue.name , 'workshop.reservation.calendar.venue') if !venue.nil? 
    /%td= link_to workshop.expert.full_name , workshop.expert 
    /%td= workshop.reservation.fmt_starts_at if !workshop.reservation.nil?

  %br
