.container.body
  .col-md-8    
    .jumbotron.overview            
      - if @workshop.reservation.nil?
        .not-scheduled-workshop-ribbon
          %p.detail
            = t('views.legends.workshop.not_scheduled', default: 'Workshop is not scheduled yet')
      - if @workshop.free?
        .price-workshop-ribbon
          %p.detail
            = t('views.legends.workshop.free_workshop', default: 'Free workshop')
      .row.well
        .col-md-12          
          %blockquote
            %h2
              = @workshop.name
        .description
          = simple_format @workshop.description
      .row.well
        .row
          .col-xs-8
            -unless @workshop.reservation.nil?
              %p Fecha: #{@workshop.reservation.fmt_duration}
            %p 
              = Workshop.human_attribute_name(:price)
              - unless @workshop.free? 
                #{@workshop.price} MXN 
                = t('views.legends.workshop.price_per_student',:default => 'per student')
              - else
                = Workshop.human_attribute_name(:free)
          .col-xs-4
            %button.btn.btn-lg.btn-warning.btn-block{"data-target" => "#temario", "data-toggle" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-list-alt
              = Workshop.human_attribute_name(:agenda)
          .col-xs-12
            %p 
              = Workshop.human_attribute_name(:previous_skills)
              = @workshop.previous_skills
            %p 
              = Workshop.human_attribute_name(:target_public)
              = @workshop.target_public
            
      
    - unless @workshop.reservation.nil?
      -venue=@workshop.venue
      .panel.panel-primary.col-ms-12
        .panel-heading
          %h3.panel-title #{Venue.model_name.human}
        .panel-body
          .col-md-12
            %blockquote
              %h4
                - unless venue.avatar_url.nil?
                  %img.pull-left.featurette-image.img-responsive.img-circle{:width=>'45px', :alt => "Profile", :src => venue.avatar.icon.url}
                  &nbsp;
                =link_to venue.name, venue
              %h4
                %span.small
                  =venue.address
                /%p
                /  Es un lugar donde podrás pasar un buen rato con tus colegas y disfrutar de aquellas conversaciones amenas disfrutando de una gran variedad de cervezas donde nuestra filosofía es “Que el cliente decida que tomar” debido a nuestra gran variedad con la que contamos.
      
                
    .col-ms-12.panel.panel-primary
      .panel-heading
        %h3.panel-title Más detalles
      .panel-body
        .col-md-5
          %blockquote
            %h4
              ¿Quieres saber más?
        .col-md-7          
          %p
            Si necesitas más información no dudes en preguntar, los mensajes serán leidos por tu experto para atenderte en lo que desees.
        .col-md-12
          -if student_signed_in? || expert_signed_in?
            - user = student_signed_in? ? current_student : current_expert
            = get_disqus_sso(user).html_safe
          #disqus_thread
          :javascript
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = "#{ENV['DISQUS_NAME_APP']}";
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus. 
  
  - if student_signed_in? && @enrollment.is_new
    .col-md-4
      .panel.panel-info
        .panel-body
          =render 'enrollments/form', object: @enrollment
          %br
          %button.btn.btn-lg.btn-block.btn-success{:type => "button"}
            %span.glyphicon.glyphicon-gift
            Añadir a lista de deseos
  - elsif !student_signed_in? && !expert_signed_in? && !venue_signed_in? && !administrator_signed_in? && @workshop.proposed_date > Time.now
    .col-md-4
      .panel.panel-info
        .panel-body
          = link_to new_student_session_path,{:style=>"text-decoration:none"} do
            %button.btn.btn-primary.btn-lg.btn-block{:type => "button"}
              = t('views.actions.enroll',default: 'Enroll')
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title 
          = t('views.legends.experts.your_expert',default: 'Your expert') 
      .panel-body
        .col-md-5
          - unless @workshop.expert.avatar.nil?
            %img.featurette-image.img-responsive.img-circle{:alt => "Profile", :src => @workshop.expert.avatar_url}/
        .col-md-7
          %blockquote
            %h5
              =link_to @workshop.expert.full_name, @workshop.expert 
            %h6
              =@workshop.expert.occupation
        .row
          .col-md-12
            %p.text-justify
              - description = small_description_profile @workshop.expert.profile
              = description
              - unless description.to_s.length == @workshop.expert.profile.to_s.length
                %button.btn.btn-primary.btn-xs{"data-target" => ".profile-modal-lg", "data-toggle" => "modal", :type => "button"} Ver más
                .modal.fade.profile-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "modalProfile", :role => "dialog", :tabindex => "-1"}
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} ×
                        %h4.modal-title
                          = t('views.legends.experts.summary_profile',default: 'Summary profile') 
                      .modal-body
                        .row
                          .col-md-3.text-center
                            .row
                              - unless @workshop.expert.avatar.nil?
                                %img.featurette-image.img-responsive.img-circle{:alt => "Expert", :src => @workshop.expert.avatar_url}/
                            .row
                              %h5
                                = @workshop.expert.full_name
                              %h6
                                = @workshop.expert.occupation
                          .col-md-9
                            %blockquote
                              %p.text-justify
                                = @workshop.expert.profile
                      .modal-footer                    
                        =link_to @workshop.expert do
                          %button.btn.btn-primary{:type => "button"}
                            = t('views.legends.experts.go_full_profile',default: 'Go full profile') 
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          = t('views.legends.experts.participants',default: 'Participants') 
      .panel-body
        - @workshop.students.each do |student|
          .row.panel
            .col-xs-4
              =link_to student_path student do 
                - if !student.avatar_url.nil?
                  %img.featurette-image.img-responsive.img-circle{:width=>'60px', :alt => "Profile", :src => student.avatar.icon.url}
      
            .col-xs-7
              %blockquote
                %h5
                  = link_to student.full_name, student_path(student)

  
  - if student_signed_in?
    .col-md-4
      .panel.panel-danger
        .panel-body
          %button.btn.btn-lg.btn-danger.btn-block{:type => "button"}
            %span.glyphicon.glyphicon-fire
            = t('views.legends.workshop.denunciate_topic',default: 'Denunciate topic') 


  / Modal
  #temario.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only
              = t('views.legends.close',default: 'Close') 
          %h4#myModalLabel.modal-title
            %span.glyphicon.glyphicon-list-alt
            =@workshop.name
        .modal-body
          = simple_format @workshop.agenda
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
            = t('views.legends.close',default: 'Close') 
