.container.body
  .col-md-8
    .jumbotron.overview
      .row.well
        .col-md-12
          %blockquote
            %h1
              = @workshop.name
        .description
          = simple_format @workshop.description
      .row.well
        .row
          .col-xs-8
            -unless @workshop.reservation.nil?
              %p Fecha: #{@workshop.reservation.fmt_duration}
            %p Costo: #{@workshop.price / @workshop.max_number_participants} MXN
          .col-xs-4
            %button.btn.btn-lg.btn-warning.btn-block{"data-target" => "#temario", "data-toggle" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-list-alt
              = Workshop.human_attribute_name(:agenda)
          .col-xs-12
            %p Conocimientos Previos: #{@workshop.previous_skills}
            %p Dirigido a: #{@workshop.target_public}
            
      
    - unless @workshop.reservation.nil?
      .panel.panel-primary.col-ms-12
        .panel-heading
          %h3.panel-title #{Venue.model_name.human}
        .panel-body
          .col-md-12
            %blockquote
              %h4
                %a{:href => "../cursos/1.html"} #{@workshop.venue.name}
                /%p
                /  Es un lugar donde podrás pasar un buen rato con tus colegas y disfrutar de aquellas conversaciones amenas disfrutando de una gran variedad de cervezas donde nuestra filosofía es “Que el cliente decida que tomar” debido a nuestra gran variedad con la que contamos.
      
                
    .col-ms-12.panel.panel-primary
      .panel-heading
        %h3.panel-title Más detalles
      .panel-body
        .col-md-5
          %blockquote
            %h4
              ¿Quieres saber más?
        .col-md-7
          %p
            Sí tienes alguna pregunta no dudes en preguntar, los mensajes serán entregados directamente a tu experto para atenderte en lo que desees.
        .col-md-12    
          %form{:role => "form"}
            .col-xs-10
              %textarea.form-control{:rows => "5"}
            %button.btn.btn-primary{:type => "submit"}
              %span.glyphicon.glyphicon-pencil
                Publicar
  
  
  - if student_signed_in? && @enrollment.is_new
    .col-md-4
      .panel.panel-info
        .panel-body
          =render 'enrollments/form', object: @enrollment
          %br
          %button.btn.btn-lg.btn-block.btn-success{:type => "button"}
            %span.glyphicon.glyphicon-gift
            Añadir a lista de deseos

    
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Tu experto
      .panel-body
        .col-md-5
          - unless @workshop.expert.avatar.nil?
            %img.featurette-image.img-responsive.img-circle{:alt => "Profile", :src => @workshop.expert.avatar_url}/
        .col-md-7
          %blockquote
            %h5
              =link_to @workshop.expert.full_name, @workshop.expert 
            %h6
              =@workshop.expert.occupation
        .row
          .col-md-12
            =simple_format @workshop.expert.profile
  
  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Asistentes
      .panel-body
        - @workshop.students.each do |student|
          .row.panel
            .col-xs-4
              =link_to student_path student do 
                - if !student.avatar_url.nil?
                  %img.featurette-image.img-responsive.img-circle{:width=>'60px', :alt => "Profile", :src => student.avatar.icon.url}
      
            .col-xs-7
              %blockquote
                %h5
                  = link_to student.full_name, student_path(student)

  
  - if student_signed_in?
    .col-md-4
      .panel.panel-danger
        .panel-body
          %button.btn.btn-lg.btn-danger.btn-block{:type => "button"}
            %span.glyphicon.glyphicon-fire
            Reportar tema


  / Modal
  #temario.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          %h4#myModalLabel.modal-title
            %span.glyphicon.glyphicon-list-alt
            =@workshop.name
        .modal-body
          = simple_format @workshop.agenda
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close