.container
  .panel.panel-default
    .panel-heading
      =render 'workshops_heading'
      
    .panel-body
      %table.table.table-striped
        %tr
          %th 
            =Workshop.human_attribute_name(:name)
          %th 
            =Workshop.human_attribute_name(:free)
          %th 
            =Workshop.human_attribute_name(:state)
          %th
            =Venue.model_name.human
          %th 
            =Reservation.model_name.human
          %th
          
        - @workshops.each do |workshop|
          %tr
            %td
              = link_to workshop_path(workshop) do
                = workshop.name
            %td= workshop.free
            %td= workshop.state
            %td
              = link_to workshop.venue.name, workshop.venue
            %td
              = workshop.reservation.fmt_duration 
            %td
              = link_to I18n.t("views.states.given"), state_admin_workshop_path(workshop), :method => :patch, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-xs'
              = link_to 'Show', [:admin, workshop], class: 'btn btn-default btn-xs'
              = link_to 'Edit', edit_admin_workshop_path(workshop), class: 'btn btn-default btn-xs'
              = link_to 'Destroy', [:admin, workshop], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
      = paginate @workshops