.container
  .panel.panel-default
    .panel-heading
      %h4 Listing reservations
    .panel-body
      %table.table.table-stripped
        %tr
          %th Starts at
          %th Final time
          %th Max participants
          %th Cover
          %th 
            =Calendar.model_name.human
          %th
          
        - @reservations.each do |reservation|
          %tr
            %td= reservation.starts_at
            %td= reservation.final_time
            %td= reservation.max_participants
            %td= reservation.cover
            %td= reservation.calendar.title
            %td
              = link_to 'Show', [:admin, @venue, reservation], class: 'btn btn-default btn-xs'
              = link_to 'Edit', edit_admin_venue_reservation_path(@venue,reservation), class: 'btn btn-default btn-xs'
              = link_to 'Destroy', [:admin, @venue, reservation], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
      
      %br
      
      = link_to 'New Reservation', new_admin_venue_reservation_path(@venue), class: 'btn btn-primary'
      = link_to Venue.model_name.human.pluralize, admin_venues_path, class: 'btn btn-default'
