.container
  .tabs
    %h3
      .tabpanel{:role=>'tabpanel'}
        %ul.nav.nav-tabs{:role=>'tabpanel'}
          %li.active{:role=>'presentation'}
            =link_to t('views.legends.general',default: 'General'),'#general', 'data-toggle' => 'tab'
          %li{:role=>'presentation'}
            =link_to t('views.legends.profile', default: 'Profile'),'#profile', 'data-toggle' => 'tab'
          %li{:role=>'presentation'}
            =link_to t('views.legends.contact', default: 'Contact'),'#contact', 'data-toggle' => 'tab'
          %li{:role=>'presentation'}
            =link_to t('views.legends.account', default: 'Account'),'#account', 'data-toggle' => 'tab'
      
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', :multipart => true }) do |f|
    .alert-danger
      = devise_error_messages!

    .tab-content
      .tab-pane.fade.in.active#general
        .panel.panel
          .panel-body.jumbotron
            .row
              .form-group.col-md-6
                = f.label :first_name
                = f.text_field :first_name, autofocus: true, class: 'form-control'
              .form-group.col-md-6
                = f.label :last_name
                = f.text_field :last_name, autofocus: true, class: 'form-control'
            .row
              .form-group.datetime-select.col-md-7
                = f.label :birthday
                .form-inline
                  = f.date_select :birthday, :start_year => 1900
              .form-group.col-md-5
                =f.label :genre
                =f.select :genre, options_for_select(Genre.all, resource.genre ),{},{:class => 'form-control'}
            .form-group
              = f.label :avatar
              = f.file_field :avatar, autofocus: true, class: 'form-control'
    
      .tab-pane.fade#profile
        .panel.panel
          .panel-body.jumbotron
            .col-md-6
              .form-group
                = f.label :occupation
                = f.text_field :occupation, autofocus: true, class: 'form-control'
            
              .form-group
                = f.label :areas_of_expertise
                = f.text_field :areas_of_expertise, autofocus: true, class: 'form-control', hint: 'Enseñanza de elfico, viajes, literatura clásica'
                %span
                  %i (Separadas por comas. Ej: Enseñanza de elfico, viajes, literatura clásica)
            .col-md-6
              .form-group
                = f.label :profile
                = f.text_area :profile, autofocus: true, class: 'form-control', rows: 6
              
      .tab-pane.fade#contact
        .panel.panel
          .panel-body.jumbotron
            .form-group.website-form
              = f.label :website
              = f.text_field :website, autofocus: true, class: 'form-control', :placeholder => 'www.mywebsite.com', :value => "#{@expert.fmt_website}"
            .row
              .form-group.col-md-6.fb-form
                = f.label  :facebook_link
                .input-group
                  .input-group-addon
                    %i.fa.fa-facebook
                  = f.text_field :facebook_link, autofocus: true, class: 'form-control', :placeholder => 'facebook.com/myfb', :value => "#{@expert.fmt_facebook_link}"
                  .input-group-addon{"data-toggle" => "tooltip", "data-placement" => "top", "title" => "¿Como agregar mi facebook?"}
                    %span.glyphicon.glyphicon-question-sign{"data-target" => ".modal-facebook", "data-toggle" => "modal", :style => 'cursor: pointer;'}                      
              .form-group.col-md-6.twtr-form
                = f.label :twitter_link
                .input-group
                  .input-group-addon
                    %i.fa.fa-twitter
                  = f.text_field :twitter_link, autofocus: true, class: 'form-control', :placeholder => '@mytwitter', :value => "#{@expert.fmt_twitter_link}"
                  .input-group-addon{"data-toggle" => "tooltip", "data-placement" => "top", "title" => "¿Como agregar mi twitter?"}
                    %span.glyphicon.glyphicon-question-sign{"data-target" => ".modal-twitter", "data-toggle" => "modal", :style => 'cursor: pointer;'}
            .row
              .form-group.col-md-6.lnkd-form
                = f.label :linkedin_link
                .input-group
                  .input-group-addon
                    %i.fa.fa-linkedin
                  = f.text_field :linkedin_link, autofocus: true, class: 'form-control', :placeholder => 'id=12345678', :value => "#{@expert.fmt_linkedin_link}"
                  /.input-group-addon{"data-toggle" => "tooltip", "data-placement" => "top", "title" => "¿Como agregar mi perfil de LinkedIn?"}
                  ///%span.glyphicon.glyphicon-question-sign{"data-target" => ".modal-linkedin", "data-toggle" => "modal", :style => 'cursor: pointer;'}
              .form-group.col-md-6.gplus-form
                = f.label :google_plus_link
                .input-group
                  .input-group-addon
                    %i.fa.fa-google-plus
                  = f.text_field :google_plus_link, autofocus: true, class: 'form-control', :placeholder => '+myprofile', :value => "#{@expert.fmt_google_plus_link}"
                  .input-group-addon{"data-toggle" => "tooltip", "data-placement" => "top", "title" => "¿Como agregar mi perfil de google plus?"}
                    %span.glyphicon.glyphicon-question-sign{"data-target" => ".modal-gplus", "data-toggle" => "modal", :style => 'cursor: pointer;'}
      .tab-pane.fade#account
        .panel.panel
          .panel-body.jumbotron
            .col-md-6
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, class: 'form-control'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
              .form-group
                = f.label :password
                %i
                  = t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it', default: "(leave blank if you do not want to change it)")              
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
                  
    .row
      .col-md-12
        .panel.panel
          .panel-body.jumbotron
            .form-group.col-md-6  
              = f.label :current_password
              %i 
                = t('devise.registrations.edit.current_password_hint', default: '(Write your password to confirm your changes)')
              = f.password_field :current_password, autocomplete: "off", class: 'form-control'
            .form-group.col-md-6
              = f.submit t('devise.registrations.edit.update',default: 'Update'), :class=>'btn btn-primary btn-lg btn-block' 
  /Modals       
  /Facebook       
  .modal.fade.modal-facebook{"aria-hidden" => "true", "aria-labelledby" => "facebook", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title
            Facebook
        .modal-body
          %p.text-justify
            En tu perfil de facebook encontrarás en la parte superior de tu navegador un enlace, copia y pega solo la parte como se muestra en la imagen:
          = image_tag("fb_1.png", :alt => "Facebook image 1", :class => 'img-responsive')
  /Twitter       
  .modal.fade.modal-twitter{"aria-hidden" => "true", "aria-labelledby" => "twitter", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title
            Twitter
        .modal-body
          %p.text-justify
            En tu perfil de twitter encontrarás en la parte inferior de tu imagen el nombre que debes registrar, copia y pega solo la parte como se muestra en la imagen:
          = image_tag("tw.png", :alt => "Twitter image", :class => 'img-responsive')
  /linkedin  
  .modal.fade.modal-linkedin{"aria-hidden" => "true", "aria-labelledby" => "linkedin", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span.glyphicon.glyphicon-remove-sign{"aria-hidden" => "true"}
        .modal-body
  /G+       
  .modal.fade.modal-gplus{"aria-hidden" => "true", "aria-labelledby" => "gplus", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title
            Google+
        .modal-body
          %p.text-justify
            En tu perfil de Google+ en la sección de "Acerca de" o "About" encontrarás el link de "Google+ URL", copia y pega solo la parte como se muestra en la imagen:
          = image_tag("gplus.png", :alt => "Google plus image", :class => 'img-responsive')

/ /      %h3 Cancel my account
/ /      %p
/ /        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}