- provide(:title, '')
%header
  .container
    .row
      .col-lg-12
        .panel-group.visible-xs{:role => "tablist"}
          .panel.panel-primary
            #collapseListGroupHeading.panel-heading{:role => "tab"}
              %h4.panel-title
                %a.collapsed{"aria-controls" => "collapseListGroup", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseListGroup"}
                  = t('devise.sessions.sign_in', default: 'Sign up')
            #collapseListGroup.panel-collapse.collapse{"aria-expanded" => "false", "aria-labelledby" => "collapseListGroupHeading", :role => "tabpanel", :style => "height: 0px;"}
              %ul.list-group
                %li.list-group-item 
                  %h5
                    = link_to new_student_session_path do
                      = t('activerecord.models.student',default:'Student')
                %li.list-group-item 
                  %h5
                    = link_to new_expert_session_path do
                      = t('activerecord.models.expert',default:'Expert')
                %li.list-group-item 
                  %h5
                    = link_to new_venue_session_path do
                      = t('activerecord.models.venue',default:'Venue')
                %li.list-group-item 
                  %h6
                    %a.collapsed{"aria-controls" => "collapseListGroup", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseListGroup"}                    
                      = t('views.legends.close',default:'Close')
        = image_tag('landing.png',alt: "Learny.me", :class => "img img-responsive img-landing")
        .intro-text.text-center
          %span.name
            .row              
              .col-md-6.col-md-offset-3
                = form_tag '/workshops', method: :get, :role => 'search' do
                  .form-group
                    .input-group.input-group-lg
                      %input.form-control{:name => "w", :placeholder => "Clases de surf...", :type => "text"}/
                      %span.input-group-btn
                        %button.btn.btn-primary{:type => "submit", :value => "Search"}
                          %span.glyphicon.glyphicon-search              
          %hr.star-light/
          %span.skills 
            = t('views.legends.welcome_to_learny',default:'The best place to find the best teachers for those things you always wanted to learn!')      
/ Student Grid Section
%section#student
  .container
    .row
      .col-lg-12.text-center
        %h2 
          = t('activerecord.models.student',default:'Student')
        %hr.star-primary/
    .row
      .col-sm-2.col-sm-offset-1
        = image_tag("student_1.png",:class => "img img-responsive")        
      .col-sm-2
        = image_tag("student_2.png",:class => "img img-responsive")
      .col-sm-2
        = image_tag("student_3.png",:class => "img img-responsive")
      .col-sm-2
        /= image_tag("student_4.png",:class => "img img-responsive")
      .col-sm-2
        = image_tag("student_5.png",:class => "img img-responsive")
    .row
      .col-sm-2.col-sm-offset-1
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
/ Expert Section
%section#expert.success
  .container
    .row
      .col-lg-12.text-center
        %h2 
          = t('activerecord.models.expert',default:'Expert')
        %hr.star-light/
    .row
      .col-sm-2.col-sm-offset-1
        = image_tag("expert_1.png",:class => "img img-responsive")
      .col-sm-2
        = image_tag("expert_2.png",:class => "img img-responsive")
      .col-sm-2
        = image_tag("expert_3.png",:class => "img img-responsive")
      .col-sm-2
        /= image_tag("expert_4.png",:class => "img img-responsive")
      .col-sm-2
        = image_tag("expert_5.png",:class => "img img-responsive")
    .row
      .col-sm-2.col-sm-offset-1
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
/ Venue Grid Section
%section#venue
  .container
    .row
      .col-lg-12.text-center
        %h2 
          = t('activerecord.models.venue',default:'Venue')
        %hr.star-primary/
    .row
      .col-sm-2.col-sm-offset-1
        /= image_tag("venue_1.png",:class => "img img-responsive")
      .col-sm-2
        /= image_tag("venue_2.png",:class => "img img-responsive")
      .col-sm-2
        /= image_tag("venue_3.png",:class => "img img-responsive")
      .col-sm-2
        /= image_tag("venue_4.png",:class => "img img-responsive")
      .col-sm-2
        /= image_tag("venue_5.png",:class => "img img-responsive")
    .row
      .col-sm-2.col-sm-offset-1
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p
      .col-sm-2
        %p