.container
  %h1 
    = t('views.actions.my_workshops',default:'My Workshops')
  
  .table-responsive
    %table.table.table-striped
      %tr
        %th 
          = Workshop.model_name.human
        %th 
          = Expert.model_name.human
        %th
          = Venue.model_name.human
        %th
          = Venue.human_attribute_name(:starts_at) 
        %th
        
    
      - @enrollments.each do |enrollment|
        %tr
          %td= link_to enrollment.workshop.name, workshop_path(enrollment.workshop)
          %td= link_to enrollment.workshop.expert.full_name, enrollment.workshop.expert
          %td= (link_to enrollment.workshop.venue.name, enrollment.workshop.venue.name) if !enrollment.workshop.venue.nil?
          %td= enrollment.workshop.reservation.starts_at if !enrollment.workshop.venue.nil?
          %td= link_to 'Unenroll', enrollment, :method => :delete, :data => { :confirm => 'Are you sure?' }
