%h1 Listing enrollments

%table
  %tr
    %th Workshop
    %th Student
    %th
    %th
    %th

  - @enrollments.each do |enrollment|
    %tr
      %td= enrollment.workshop_id
      %td= enrollment.student_id
      %td= link_to 'Show', enrollment
      %td= link_to 'Edit', edit_enrollment_path(enrollment)
      %td= link_to 'Destroy', enrollment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Enrollment', new_enrollment_path
