- model_class=Reservation
.container
  .page-header
    %h1=t '.title', :default => model_class.model_name.human.titleize

  %p
    %strong= model_class.human_attribute_name(:calendar) + ':'
    %br
    = @reservation.calendar.title
  
  %p
    %strong= model_class.human_attribute_name(:starts_at) + ':'
    %br
    = @reservation.starts_at
  
  %p
    %strong= model_class.human_attribute_name(:final_time) + ':'
    %br
    = @reservation.final_time
  

  %p
    %strong= model_class.human_attribute_name(:max_participants) + ':'
    %br
    = @reservation.max_participants
  
  = link_to 'Edit', edit_reservation_path(@reservation)
  \|
  = link_to 'Back', reservations_path
