%p#notice= notice
.container
  .col-md-1
  .col-md-10
    %h1
      = @calendar.title
    .simple-calendar.panel.panel-primary.text-center
      = month_calendar events: @calendar.reservations, header: {class: 'calendar-header panel-header'} ,
          title: ->(start_date) { content_tag :span, "#{I18n.t("date.month_names")[start_date.month]} #{start_date.year}", class: "calendar-title" },
          table: {class: "table table-bordered text-left"}, tr: {class: "calendar-row"}, td: {class: "day"}  do |date, reservations| 
        %p
          = date.strftime("%d")
        - reservations.each do |reservation|
          .event-cell
            - if !reservation.workshop.nil?
              = link_to "<span class='badge booked' data-placement='top' data-toggle='tooltip' title='#{reservation.workshop.name}\n#{reservation.starts_at.strftime('%H:%M')} - #{reservation.final_time.strftime('%H:%M')}\n#{reservation.workshop.expert.full_name}'><span class='glyphicon glyphicon-book'</span></span>".html_safe, reservation.workshop
            - else
              %span.badge.reservation{"data-placement" => "top", "data-toggle" => "tooltip", :title => "#{reservation.starts_at.strftime('%H:%M')} - #{reservation.final_time.strftime('%H:%M')}"}
                %span.glyphicon.glyphicon-bell

    = link_to 'Edit', edit_calendar_path(@calendar) 
    \|
    = link_to 'Back', calendars_path
  .col-md-1
