%h1 Learny | Inscripción al taller de "#{@workshop.name}"

.container
%table
  %tr
    %td{:style => "padding:30px 15px 30px 15px; background-color:#EBEBEB;"}
      %table
        %tr
          %td{:style => "border-left: 1px solid #A3A3A3; border-right: 1px solid #A3A3A3; border-top: 1px solid #A3A3A3; border-bottom: 1px solid #A3A3A3; background-color:#FFFFFF; border-radius:10px; padding:10px 30px 10px 20px;"}            
            - if @venue.nil?
              %h2{:style => "color:#009933"}
                Este taller aún no tiene un lugar asignado, en cuanto se asigne uno se te notificará.
            - else
              %h2{:style => "color:#009933"}
                El taller se impartirá en #{@venue.name}, #{@venue.address}
              %p
                %strong 
                  \- Horario:
                %br
                %h3{:style => "color:#009933"} #{@workshop.reservation.fmt_duration}
            %p
              %strong 
                \- Costo:
              %br
              %h3{:style => "color:#009933"}
                = @workshop.free? ? "Gratuito" : "$ " + @workshop.price.to_s + " MXN"
            - if @venue.nil?
              %p
                %strong 
                  \- Te mantendremos informado.
                No te preocupes, el equipo de Learny te avisará cuando el taller que deseas tenga un establecimiento.
            - else
              %p
                %strong 
                  \- Te enviaremos una encuesta de satisfacción. 
                Tu opinión es muy importante, al finalizar el taller te enviaremos una encuesta para que nos cuentes tu experiencia y podamos seguir mejorando.
                %br

%br
%h3{:style => "color: #2d6ca2"} Afectuosamente, el equipo de Learny