%h1 Learny | "#{@workshop.name}"

.container
%table
  %tr
    %td{:style => "padding:30px 15px 30px 15px; background-color:#EBEBEB;"}
      %table
        %tr
          %td{:style => "border-left: 1px solid #A3A3A3; border-right: 1px solid #A3A3A3; border-top: 1px solid #A3A3A3; border-bottom: 1px solid #A3A3A3; background-color:#FFFFFF; border-radius:10px; padding:10px 30px 10px 20px;"}            
            %p
              %h3
                Queremos agradecer tu asistencia al taller
              
            %h4{:style => "color:#009933"}
              #{@workshop.name}   
            %p
              %strong 
                \- Impartido en:
              %br
              %h3{:style => "color:#009933"} #{@venue.name}, #{@venue.address}
            %p
              %strong 
                \- Horario:
              %br
              %h3{:style => "color:#009933"} #{@workshop.reservation.fmt_duration}
            %p
              %strong 
                Queremos invitarte a participar en la encuesta del taller accediendo 
                al siguiente vínculo
            %p
              %h4{:style => "color:#009933"}
                =link_to StudentSurvey.model_name.human, new_workshop_student_survey_url(@workshop), target: '_blank'
            
            %p
              %strong
                Tu opinión es muy importante para poder seguir mejorando.
            %br

%br
%h3{:style => "color: #2d6ca2"} Afectuosamente, el equipo de Learny