Learny | Gracias por tu asistencia al taller de "#{@workshop.name}"

Queremos agradecer tu asistencia al taller #{@workshop.name}, el cual fue realizado
en #{@venue.name}, #{@venue.address} con un horario de  #{@workshop.reservation.fmt_duration}

De igual modo te invitamos a participar en la encuesta del taller accediendo al siguiente enlace


Tu opinión nos resulta muy importante para seguir mejorando nuestro servicio.

Afectuosamente, el equipo de Learny