%h1 Learny | Nuevo estudiante inscrito al taller "#{@workshop.name}"

.container
%table
  %tr
    %td{:style => "padding:30px 15px 30px 15px; background-color:#EBEBEB;"}
      %table
        %tr
          %td{:style => "border-left: 1px solid #A3A3A3; border-right: 1px solid #A3A3A3; border-top: 1px solid #A3A3A3; border-bottom: 1px solid #A3A3A3; background-color:#FFFFFF; border-radius:10px; padding:10px 30px 10px 20px;"}
            %h3{:style => "color:#009933"} #{@student.first_name} #{@student.last_name} se ha registrado al taller "#{@workshop.name}"
            - if @venue.nil?
              %h2{:style => "color:#009933"}
                Este taller aún no tiene un Establecimiento asignado. El equipo de Learny esta trabajando para encontrar uno que se adapte a tus necesidades.
            - else
              %p
                %strong 
                  \- El taller se impartirá en:
                %br
                  %h3{:style => "color:#009933"} #{@venue.name}, #{@venue.address}
              %p
                %strong 
                  \- Horario:
                %br
                  %h3{:style => "color:#009933"} #{@workshop.reservation.fmt_duration}


%br
%h3{:style => "color: #2d6ca2"} Afectuosamente, el equipo de Learny