!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => meta_description, :name => "description"}/
    %meta{:content => meta_author, :name => "author"}/
    %meta{:content => meta_keywords, :name => "Keywords"}/
    %title= full_title(yield(:title))
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag params[:controller] , "data-turbolinks-track" => true
    
    = csrf_meta_tags
    
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    %a{:href => "#Top"}
  %body
    %header
      =render 'layouts/navigation'
    %main{:role => 'main'}
      .main
        = render 'layouts/messages'
        = yield
      
        #mdl_signin.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                .bootstrap-dialog-header
                  %button.close{:type=>'button',  'data-dismiss' => 'modal', 'aria-hidden'=> 'true'} x
                  %h4.modal-title
                    = t('devise.sessions.sign_up', default: 'Sign up') 
              .modal-body
                .row.text-center
                  = link_to new_student_registration_path, {:class => 'btn btn-success btn-lg'} do
                    %i.glyphicon.glyphicon-user
                    = t('views.legends.student',default: 'Student')
                  = link_to new_expert_registration_path, {:class => 'btn btn-success btn-lg'} do
                    %i.glyphicon.glyphicon-briefcase
                    = t('views.legends.expert',default: 'Expert')
                  = link_to new_venue_registration_path, {:class => 'btn btn-success btn-lg'} do
                    %i.glyphicon.glyphicon-home
                    = t('views.legends.venue',default: 'Venue')
              .modal-footer      
              
      %footer
        %hr/
        %p.pull-right
          = link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top'
        %p
          \© #{Time.now.year}#{site_name}
          \•
          \#{link_to "Privacy", privacy_path}
          \•
          \#{link_to "Terms", terms_path}
          
        -if !(expert_signed_in? or venue_signed_in? or student_signed_in? or administrator_signed_in?)
          %p
            #{link_to "Administration", new_administrator_session_path}
  

        