!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => meta_description, :name => "description"}/
    %meta{:content => meta_author, :name => "author"}/
    %meta{:content => meta_keywords, :name => "Keywords"}/
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag params[:controller] , "data-turbolinks-track" => true
    
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}    
    
  %body#page-top
    %header
      =render 'layouts/navigation'
    %main{:role => 'main'}
      .main
        = render 'layouts/messages'
        = yield
      
        #mdl_signin.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                .bootstrap-dialog-header
                  %button.close{:type=>'button',  'data-dismiss' => 'modal', 'aria-hidden'=> 'true'} x
                  %h4.modal-title
                    = t('devise.sessions.sign_up', default: 'Sign up') 
              .modal-body
                .row.text-center
                  = link_to new_student_registration_path, {:class => 'btn btn-success btn-lg'} do
                    %i.glyphicon.glyphicon-user
                    = t('views.legends.student',default: 'Student')
                  = link_to new_expert_registration_path, {:class => 'btn btn-success btn-lg'} do
                    %i.glyphicon.glyphicon-briefcase
                    = t('views.legends.expert',default: 'Expert')
                  = link_to new_venue_registration_path, {:class => 'btn btn-success btn-lg'} do
                    %i.glyphicon.glyphicon-home
                    = t('views.legends.venue',default: 'Venue')
              .modal-footer      
              
    %footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              %h3 
                = t('views.legends.contact',default: 'Contact')
              %p
                %span.glyphicon.glyphicon-envelope
                = t('views.legends.email_contact',default: 'cursos@learny.me')
                %br/
                %span.glyphicon.glyphicon-earphone
                = t('views.legends.phone_contact',default: '5512345678')
            .footer-col.col-md-4
              %h3
                = t('views.legends.other_sites',default: 'Other sites')
              %ul.list-inline
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-facebook
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-google-plus
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-twitter
            .footer-col.col-md-4
              %h3
                = t('views.legends.meet_us',default: 'Meet us')
              %p.text-justify
                = t('views.legends.about_learny',default: 'Learny')
      .footer-below
        .container
          .row
            .col-lg-12
              %p © #{Time.now.year} #{site_name}
              %p
                \#{link_to t('views.legends.privacy',default: 'Privacy'), privacy_path}                
                \-
                #{link_to t('views.legends.terms',default: 'Terms'), terms_path}
                \-
                \#{link_to t('views.legends.faq',default: 'FAQ'), faq_path}
                -if !(expert_signed_in? or venue_signed_in? or student_signed_in? or administrator_signed_in?)
                  \#{link_to t('views.legends.administration',default: 'Administration'), new_administrator_session_path}
    / Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll
      %a.btn.btn-primary.index{:href => "#page-top"}
        %i.fa.fa-chevron-up
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}