.container
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', :multipart => true }) do |f|
    = devise_error_messages!

    .row    
      .col-md-6
        .panel.panel-primary
          .panel-heading
            .panel-title Profile
          .panel-body
            .form-group
              = f.label :first_name
              = f.text_field :first_name, autofocus: true, class: 'form-control'
            .form-group
              = f.label :last_name
              = f.text_field :last_name, autofocus: true, class: 'form-control'
            .form-group
              = f.label :occupation
              = f.text_field :occupation, autofocus: true, class: 'form-control'
            .form-group
              = f.label :profile
              = f.text_area :profile, autofocus: true, class: 'form-control'
            .form-group
              = f.label :avatar
              = f.file_field :avatar, autofocus: true, class: 'form-control'
      .col-md-6
        .panel.panel-primary
          .panel-heading
            .panel-title Account
          .panel-body
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control'
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form-group
              = f.label :password
              %i (leave blank if you don't want to change it)
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label :current_password
              %i (we need your current password to confirm your changes)
              = f.password_field :current_password, autocomplete: "off", class: 'form-control'

    .row
      .col-md-12
        .panel.panel-primary
          .panel-body
            .form-group.col-md-9  
              = f.label :current_password
              %i (we need your current password to confirm your changes)
              = f.password_field :current_password, autocomplete: "off", class: 'form-control'
            .form-group.col-md-3
              = f.submit "Update", :class=>'btn btn-primary btn-lg' 
    

/ /      %h3 Cancel my account
/ /      %p
/ /        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}

